@import "reset";

$background-color: #1b031a;

$font-size: 70px;
$font-padding: 20px;
$background-gradient-height: $font-size + 2 * $font-padding;

html {
  background: $background-color;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: $background-gradient-height;
    pointer-events: none;

    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    height: $background-gradient-height;
    pointer-events: none;

    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
}

#start-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  background: white;
  transition: visibility 500ms, opacity, 100ms;
  border: 3px solid black;
  padding: 16px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 24px;
}

#start:not([disabled]):hover,
#start:not([disabled]):active,
#start:not([disabled]):focus {
  background: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}

@mixin text-border-element($right, $left) {
  &::after {
    content: "";
    position: absolute;
    border-top: 6px solid white;
    border-bottom: 6px solid white;
    top: 20px;
    right: $right;
    bottom: 16px;
    left: $left;
    pointer-events: none;
  }
}

.text {
  // TODO: relative size.
  font: bold 70px Josefin Sans;
  color: white;
  z-index: 1;

  .title,
  .prev,
  .next {
    position: absolute;
    display: none;
  }

  .prev,
  .next {
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }

  .title {
    top: 20px;
    left: 20px;

    @include text-border-element(0, 0);
  }

  .prev {
    bottom: 20px;
    left: 20px;

    @include text-border-element(50%, 0);
  }

  .next {
    bottom: 20px;
    right: 20px;

    @include text-border-element(0, 50%);
  }
}

body.pinata .pinata {
  display: block;
}
body.snowfall .snowfall {
  display: block;
}
body.poolside .poolside {
  display: block;
}
